<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestNG">
    <classes>
      <class name="tests.AccountFormTest"/>
      <class name="tests.FindItemsTest"/>
      <class name="tests.NewAccountTestNG"/>
      <class name="tests.MyAccountTest"/>
      <class name="tests.BaseTest"/>
      <class name="tests.ContactTest"/>
    </classes>
  </test> <!-- TestNG -->
</suite> <!-- Suite -->
